
   <%-include("header.ejs") %>
    <div class="date"><%=current_day  %>, <%=current_month  %> <%=current_date  %></div>
    <div class="todo-box">
        <div class="todo-list-box">
    <% if(locals.items) {%>
    <%for(let i=0;i<items.length;i++){%>
        <% if(items[i]!="") {%>
        <div class="each-item"><input type="checkbox"><span><%=items[i]%></span></div><hr> 
        
        <% } %>
    <% } %>
    <% } %>
        </div>
        <div class="form-box">
    <form action="/" method="post">
        <input type="text" name="item" placeholder="New Item" class="input-field">
        <input type="submit" value="+" class=" button">
    </form>
    </div>
   </div>

  <%-include("footer.ejs")%>
